name: CI

on:
  push:
    branches:
      - master
    tags:
      - "*"
  pull_request:

jobs:
  test:
    name: Test on ${{ matrix.os }}

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
      - name: Setup Dart
        uses: cedx/setup-dart@v2.1.0
        with:
          version: "2.8.2"
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup mosquitto (linux)
        if: contains(matrix.os, 'ubuntu')
        run: |
          sudo apt-get install mosquitto
      - name: Setup mosquitto (macOS)
        if: contains(matrix.os, 'macOS')
        run: |
          brew install mosquitto
      - name: Setup mosquitto (Windows)
        if: contains(matrix.os, 'windows')
        run: |
          echo "::add-path::$env:GITHUB_WORKSPACE/.github/third-party/mosquitto/windows/"
      - name: Install dependencies
        run: pub get
      - name: Run tests (unix)
        if: "!contains(matrix.os, 'windows')"
        run: pub run test
      - name: Run tests (windows)
        if: contains(matrix.os, 'macOS')
        run: pub run test -p vm,chrome
      - name: Dry run publish to pub.dev
        if: contains(matrix.os, 'ubuntu')
        run: pub lish --dry-run
  release:
    name: Release
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Setup Dart
        uses: cedx/setup-dart@v2.1.0
        with:
          version: "2.8.2"
      - name: Checkout code
        uses: actions/checkout@v2
      # Auto publishing to pub.dev is blocked by https://github.com/dart-lang/pub/issues/2227. Instead we will dry run for now.
      #
      # - name: Publish to pub.dev
      #   run: pub lish -f
      #
      - name: Dry run publish to pub.dev
        if: contains(matrix.os, 'ubuntu')
        run: pub lish --dry-run
      - name: Create Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          body: |
            ### Changes
            <!-- Changelog -->

            ### Install / Upgrade
            To use this version, add this line to your `pubspec.yaml`:
            ```yaml
            universal_mqtt_client: ${{ github.ref }}
            ```
          draft: true
