name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    name: Test on ${{ matrix.os }}

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
      - name: Setup Dart
        uses: cedx/setup-dart@v2.1.0
        with:
          version: "2.8.2"
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup mosquitto (linux)
        if: contains(matrix.os, 'ubuntu')
        run: |
          sudo apt-get install mosquitto
      - name: Setup mosquitto (macOS)
        if: contains(matrix.os, 'macOS')
        run: |
          brew install mosquitto
      - name: Setup mosquitto (Windows)
        if: contains(matrix.os, 'windows')
        run: |
          echo "::add-path::$GITHUB_WORKSPACE/.github/third-party/mosquitto/windows/"
      - name: Install dependencies
        run: pub get
      - name: Run tests
        run: pub run test
